<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Exception">
        <listeners>
          <add name="except" type="System.Diagnostics.TextWriterTraceListener" initializeData="WaspClassLibraryEx.log"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WaspClassLibrary.log"/>
        <remove name="System.Diagnostics.DefaultTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
